# Exploratory data analysis  

Exploring a part of the data locally using pandas to identify problems and validate the data before defining the batch processing logic.

In [1]:
# importing libraries

import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path

In [49]:
# loading yellow and green taxi data from 2025-03

pd.set_option("display.min_rows", 100)

yellow_data_path = Path.cwd().parent / "data" / "yellow_tripdata_2025-03.parquet"
green_data_path = Path.cwd().parent / "data" / "green_tripdata_2025-03.parquet"
yellow_data = pd.read_parquet(yellow_data_path)
green_data = pd.read_parquet(green_data_path)

## initial exploration

In [50]:
yellow_data

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,1,2025-03-01 00:17:16,2025-03-01 00:25:52,1.0,0.90,1.0,N,140,236,1,7.90,3.50,0.5,2.60,0.00,1.0,15.50,2.5,0.00,0.00
1,1,2025-03-01 00:37:38,2025-03-01 00:43:51,1.0,0.60,1.0,N,140,262,1,6.50,3.50,0.5,2.30,0.00,1.0,13.80,2.5,0.00,0.00
2,2,2025-03-01 00:24:35,2025-03-01 00:39:49,1.0,1.94,1.0,N,161,68,1,14.90,1.00,0.5,5.16,0.00,1.0,25.81,2.5,0.00,0.75
3,2,2025-03-01 00:56:16,2025-03-01 01:01:35,2.0,0.95,1.0,N,231,13,1,7.20,1.00,0.5,2.59,0.00,1.0,15.54,2.5,0.00,0.75
4,1,2025-03-01 00:01:44,2025-03-01 00:10:00,1.0,1.50,1.0,N,163,236,1,8.60,4.25,0.5,2.85,0.00,1.0,17.20,2.5,0.00,0.75
5,1,2025-03-01 00:11:57,2025-03-01 00:28:33,0.0,2.00,1.0,N,166,74,1,16.30,1.00,0.5,2.00,0.00,1.0,20.80,0.0,0.00,0.00
6,2,2025-03-01 00:22:35,2025-03-01 00:34:06,2.0,3.27,1.0,N,88,79,1,17.00,1.00,0.5,4.55,0.00,1.0,27.30,2.5,0.00,0.75
7,2,2025-03-01 00:37:22,2025-03-01 00:45:03,1.0,0.95,1.0,N,114,107,1,8.60,1.00,0.5,2.00,0.00,1.0,16.35,2.5,0.00,0.75
8,2,2025-02-28 23:50:41,2025-03-01 00:03:51,1.0,2.09,1.0,N,79,186,1,13.50,1.00,0.5,3.85,0.00,1.0,23.10,2.5,0.00,0.75
9,2,2025-03-01 00:06:48,2025-03-01 00:18:44,1.0,1.43,1.0,N,186,107,1,12.10,1.00,0.5,3.57,0.00,1.0,21.42,2.5,0.00,0.75
10,2,2025-03-01 00:27:25,2025-03-01 00:34:41,1.0,0.89,1.0,N,79,211,1,8.60,1.00,0.5,0.00,0.00,1.0,14.35,2.5,0.00,0.75
11,2,2025-03-01 00:39:38,2025-03-01 00:43:49,1.0,0.72,1.0,N,211,231,1,6.50,1.00,0.5,2.00,0.00,1.0,14.25,2.5,0.00,0.75
12,1,2025-03-01 00:44:28,2025-03-01 01:25:34,2.0,18.60,2.0,N,132,48,2,70.00,5.00,0.5,0.00,6.94,1.0,83.44,2.5,1.75,0.75
13,2,2025-03-01 00:00:15,2025-03-01 01:03:30,4.0,23.28,1.0,N,132,220,2,101.70,1.00,0.5,0.00,6.94,1.0,112.89,0.0,1.75,0.00
14,2,2025-03-01 00:02:02,2025-03-01 00:18:45,1.0,2.73,1.0,N,163,263,1,17.70,1.00,0.5,4.69,0.00,1.0,28.14,2.5,0.00,0.75
15,2,2025-03-01 00:21:17,2025-03-01 00:25:33,1.0,1.29,1.0,N,141,229,1,7.90,1.00,0.5,2.05,0.00,1.0,15.70,2.5,0.00,0.75
16,2,2025-03-01 00:41:51,2025-03-01 00:50:56,1.0,1.99,1.0,N,211,137,1,11.40,1.00,0.5,1.00,0.00,1.0,18.15,2.5,0.00,0.75
17,1,2025-03-01 00:29:44,2025-03-01 00:35:25,1.0,0.90,1.0,N,246,90,1,7.90,4.25,0.5,2.70,0.00,1.0,16.35,2.5,0.00,0.75
18,1,2025-03-01 00:41:30,2025-03-01 00:53:25,2.0,2.40,1.0,N,249,163,1,14.90,4.25,0.5,4.10,0.00,1.0,24.75,2.5,0.00,0.75
19,2,2025-03-01 00:06:21,2025-03-01 00:12:06,2.0,0.59,1.0,N,186,68,2,7.20,1.00,0.5,0.00,0.00,1.0,12.95,2.5,0.00,0.75
20,1,2025-03-01 00:38:42,2025-03-01 01:16:07,1.0,7.80,1.0,N,234,188,1,40.10,4.25,0.5,9.15,0.00,1.0,55.00,2.5,0.00,0.75
21,2,2025-03-01 00:22:52,2025-03-01 00:26:56,3.0,0.58,1.0,N,148,79,1,5.80,1.00,0.5,2.31,0.00,1.0,13.86,2.5,0.00,0.75
22,2,2025-03-01 00:39:45,2025-03-01 00:46:48,4.0,0.84,1.0,N,148,144,1,7.90,1.00,0.5,1.64,0.00,1.0,15.29,2.5,0.00,0.75
23,2,2025-03-01 00:55:57,2025-03-01 01:07:58,2.0,1.56,1.0,N,231,234,1,12.10,1.00,0.5,3.57,0.00,1.0,21.42,2.5,0.00,0.75
24,2,2025-03-01 00:18:21,2025-03-01 00:29:31,1.0,3.91,1.0,N,170,141,1,13.50,1.00,0.5,3.85,0.00,1.0,23.10,2.5,0.00,0.75
25,2,2025-03-01 00:39:58,2025-03-01 00:49:10,1.0,1.73,1.0,N,163,68,1,10.70,1.00,0.5,3.29,0.00,1.0,19.74,2.5,0.00,0.75
26,1,2025-03-01 00:26:24,2025-03-01 00:34:48,1.0,1.60,1.0,N,231,90,1,10.70,4.25,0.5,2.00,0.00,1.0,18.45,2.5,0.00,0.75
27,1,2025-03-01 00:45:57,2025-03-01 00:55:41,1.0,1.70,1.0,N,249,231,1,11.40,4.25,0.5,2.00,0.00,1.0,19.15,2.5,0.00,0.75
28,2,2025-03-01 00:25:17,2025-03-01 00:29:39,1.0,0.80,1.0,N,48,100,1,6.50,1.00,0.5,3.68,0.00,1.0,15.93,2.5,0.00,0.75
29,2,2025-03-01 00:33:00,2025-03-01 00:38:12,1.0,0.67,1.0,N,100,170,1,6.50,1.00,0.5,2.45,0.00,1.0,14.70,2.5,0.00,0.75
30,2,2025-03-01 00:47:41,2025-03-01 01:15:10,1.0,4.64,1.0,N,79,256,1,27.50,1.00,0.5,2.20,0.00,1.0,35.45,2.5,0.00,0.75
31,1,2025-03-01 00:02:30,2025-03-01 00:13:57,1.0,1.80,1.0,N,125,234,1,12.10,4.25,0.5,1.00,0.00,1.0,18.85,2.5,0.00,0.75
32,1,2025-03-01 00:22:28,2025-03-01 00:28:36,1.0,1.20,1.0,N,107,170,1,8.60,4.25,0.5,0.00,0.00,1.0,14.35,2.5,0.00,0.75
33,1,2025-03-01 00:53:15,2025-03-01 01:00:57,1.0,1.80,1.0,N,90,48,1,10.70,4.25,0.5,3.25,0.00,1.0,19.70,2.5,0.00,0.75
34,2,2025-03-01 00:29:01,2025-03-01 00:48:26,1.0,3.14,1.0,N,48,79,1,19.80,1.00,0.5,7.67,0.00,1.0,33.22,2.5,0.00,0.75
35,2,2025-03-01 00:51:48,2025-03-01 01:06:31,1.0,4.24,1.0,N,107,226,1,19.80,1.00,0.5,6.50,6.94,1.0,38.99,2.5,0.00,0.75
36,2,2025-03-01 00:06:44,2025-03-01 00:18:12,4.0,2.18,1.0,N,113,233,1,13.50,1.00,0.5,1.00,0.00,1.0,20.25,2.5,0.00,0.75
37,2,2025-03-01 00:22:16,2025-03-01 00:28:40,1.0,0.89,1.0,N,230,186,1,7.90,1.00,0.5,2.73,0.00,1.0,16.38,2.5,0.00,0.75
38,2,2025-03-01 00:30:25,2025-03-01 00:36:28,1.0,0.87,1.0,N,186,246,1,7.90,1.00,0.5,2.73,0.00,1.0,16.38,2.5,0.00,0.75
39,2,2025-03-01 00:51:23,2025-03-01 00:59:15,1.0,1.31,1.0,N,161,234,1,9.30,1.00,0.5,3.01,0.00,1.0,18.06,2.5,0.00,0.75
40,1,2025-03-01 00:25:40,2025-03-01 00:31:55,0.0,0.50,1.0,N,211,114,1,7.20,4.25,0.5,2.55,0.00,1.0,15.50,2.5,0.00,0.75
41,1,2025-03-01 00:36:54,2025-03-01 00:43:22,1.0,0.40,1.0,N,144,148,1,7.20,4.25,0.5,2.55,0.00,1.0,15.50,2.5,0.00,0.75
42,1,2025-03-01 00:52:54,2025-03-01 01:04:51,0.0,3.40,1.0,N,107,263,1,15.60,4.25,0.5,4.25,0.00,1.0,25.60,2.5,0.00,0.75
43,1,2025-03-01 00:16:12,2025-03-01 00:23:41,1.0,0.70,1.0,N,142,50,1,8.60,4.25,0.5,3.55,0.00,1.0,17.90,2.5,0.00,0.75
44,2,2025-03-01 00:39:39,2025-03-01 01:00:09,1.0,5.22,1.0,N,148,237,1,25.40,1.00,0.5,6.23,0.00,1.0,37.38,2.5,0.00,0.75
45,2,2025-03-01 00:21:15,2025-03-01 00:36:19,2.0,2.62,1.0,N,107,50,1,16.30,1.00,0.5,2.20,0.00,1.0,24.25,2.5,0.00,0.75
46,2,2025-03-01 00:42:27,2025-03-01 00:46:57,2.0,1.00,1.0,N,48,143,1,7.20,1.00,0.5,3.24,0.00,1.0,16.19,2.5,0.00,0.75
47,2,2025-03-01 00:06:06,2025-03-01 00:13:56,1.0,0.55,1.0,N,162,162,2,7.90,1.00,0.5,0.00,0.00,1.0,13.65,2.5,0.00,0.75
48,2,2025-03-01 00:21:20,2025-03-01 00:33:45,1.0,4.61,1.0,N,107,261,1,20.50,1.00,0.5,5.25,0.00,1.0,31.50,2.5,0.00,0.75
49,2,2025-03-01 00:41:43,2025-03-01 00:54:20,1.0,1.42,1.0,N,231,148,1,12.10,1.00,0.5,1.00,0.00,1.0,18.85,2.5,0.00,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4145207,2,2025-03-31 23:36:46,2025-03-31 23:40:12,NaN,0.67,NaN,None,161,170,0,-4.75,0.00,0.5,0.00,0.00,1.0,5.00,NaN,NaN,0.75
4145208,2,2025-03-31 23:01:19,2025-03-31 23:04:17,NaN,0.43,NaN,None,80,80,0,-1.50,0.00,0.5,0.00,0.00,1.0,3.00,NaN,NaN,0.00
4145209,2,2025-03-31 23:02:34,2025-03-31 23:16:38,NaN,3.11,NaN,None,39,76,0,17.72,0.00,0.5,0.00,0.00,1.0,19.22,NaN,NaN,0.00
4145210,2,2025-03-31 23:47:17,2025-04-01 00:11:57,NaN,8.03,NaN,None,26,79,0,34.71,0.00,0.5,0.00,0.00,1.0,39.46,NaN,NaN,0.75
4145211,2,2025-03-31 23:25:00,2025-03-31 23:32:00,NaN,1.02,NaN,None,113,79,0,13.51,0.00,0.5,0.00,0.00,1.0,18.26,NaN,NaN,0.75
4145212,2,2025-03-31 23:20:33,2025-03-31 23:27:33,NaN,1.09,NaN,None,48,239,0,-4.75,0.00,0.5,0.00,0.00,1.0,4.59,NaN,NaN,0.75
4145213,2,2025-03-31 23:51:38,2025-04-01 00:02:44,NaN,1.52,NaN,None,186,137,0,-4.75,0.00,0.5,0.00,0.00,1.0,2.00,NaN,NaN,0.75
4145214,2,2025-03-31 23:13:44,2025-03-31 23:27:06,NaN,3.05,NaN,None,230,231,0,22.31,0.00,0.5,0.00,0.00,1.0,27.06,NaN,NaN,0.75
4145215,2,2025-03-31 23:21:57,2025-03-31 23:33:06,NaN,1.68,NaN,None,170,142,0,15.62,0.00,0.5,0.00,0.00,1.0,20.37,NaN,NaN,0.75
4145216,2,2025-03-31 23:42:43,2025-03-31 23:55:45,NaN,3.51,NaN,None,237,74,0,20.96,0.00,0.5,0.00,0.00,1.0,25.71,NaN,NaN,0.75
4145217,2,2025-03-31 23:26:15,2025-03-31 23:34:28,NaN,1.03,NaN,None,48,48,0,-4.75,0.00,0.5,0.00,0.00,1.0,3.00,NaN,NaN,0.75
4145218,2,2025-03-31 23:44:51,2025-04-01 00:01:19,NaN,3.15,NaN,None,161,79,0,19.50,0.00,0.5,0.00,0.00,1.0,24.25,NaN,NaN,0.75
4145219,2,2025-03-31 23:37:27,2025-03-31 23:43:20,NaN,1.13,NaN,None,113,186,0,10.00,0.00,0.5,0.00,0.00,1.0,14.75,NaN,NaN,0.75
4145220,2,2025-03-31 23:55:29,2025-04-01 00:06:48,NaN,3.00,NaN,None,100,231,0,15.78,0.00,0.5,0.00,0.00,1.0,20.53,NaN,NaN,0.75
4145221,2,2025-03-31 23:43:12,2025-03-31 23:52:15,NaN,1.79,NaN,None,158,148,0,13.59,0.00,0.5,0.00,0.00,1.0,18.34,NaN,NaN,0.75
4145222,2,2025-03-31 23:34:07,2025-03-31 23:49:08,NaN,2.37,NaN,None,239,233,0,-4.75,0.00,0.5,0.00,0.00,1.0,7.26,NaN,NaN,0.75
4145223,2,2025-03-31 23:40:58,2025-04-01 00:08:05,NaN,8.57,NaN,None,82,159,0,32.83,0.00,0.5,0.00,6.94,1.0,41.27,NaN,NaN,0.00
4145224,2,2025-03-31 23:20:02,2025-03-31 23:25:40,NaN,1.10,NaN,None,83,82,0,11.65,0.00,0.5,0.00,0.00,1.0,13.15,NaN,NaN,0.00
4145225,2,2025-03-31 23:07:44,2025-03-31 23:20:12,NaN,2.21,NaN,None,246,163,0,12.80,0.00,0.5,0.00,0.00,1.0,17.55,NaN,NaN,0.75
4145226,2,2025-03-31 23:24:10,2025-03-31 23:30:16,NaN,1.04,NaN,None,185,242,0,10.29,0.00,0.5,0.00,0.00,1.0,11.79,NaN,NaN,0.00
4145227,2,2025-03-31 23:12:35,2025-03-31 23:16:05,NaN,0.69,NaN,None,242,242,0,10.47,0.00,0.5,0.00,0.00,1.0,11.97,NaN,NaN,0.00
4145228,2,2025-03-31 23:34:12,2025-03-31 23:43:05,NaN,2.81,NaN,None,248,47,0,13.39,0.00,0.5,0.00,0.00,1.0,14.89,NaN,NaN,0.00
4145229,2,2025-03-31 23:09:10,2025-03-31 23:20:11,NaN,1.96,NaN,None,66,54,0,16.07,0.00,0.5,0.00,0.00,1.0,17.57,NaN,NaN,0.00
4145230,2,2025-03-31 23:50:23,2025-03-31 23:56:07,NaN,1.16,NaN,None,164,233,0,13.18,0.00,0.5,0.00,0.00,1.0,17.93,NaN,NaN,0.75
4145231,2,2025-03-31 23:51:51,2025-04-01 00:04:14,NaN,2.11,NaN,None,143,141,0,-4.00,0.00,0.5,0.00,0.00,1.0,8.38,NaN,NaN,0.00
4145232,2,2025-03-31 23:13:12,2025-03-31 23:24:38,NaN,2.29,NaN,None,68,142,0,-4.75,0.00,0.5,0.00,0.00,1.0,5.59,NaN,NaN,0.75
4145233,2,2025-03-31 23:27:00,2025-03-31 23:34:37,NaN,2.33,NaN,None,142,238,0,13.58,0.00,0.5,3.52,0.00,1.0,21.10,NaN,NaN,0.00
4145234,1,2025-03-31 23:10:54,2025-03-31 23:24:20,NaN,2.70,NaN,None,65,17,0,14.41,0.00,0.5,0.00,0.00,1.0,15.91,NaN,NaN,0.00
4145235,1,2025-03-31 23:30:57,2025-03-31 23:52:38,NaN,6.00,NaN,None,61,226,0,30.98,0.00,0.5,0.00,0.00,1.0,32.48,NaN,NaN,0.00
4145236,2,2025-03-31 23:00:31,2025-03-31 23:13:39,NaN,2.11,NaN,None,223,7,0,-1.50,0.00,0.5,0.00,0.00,1.0,1.00,NaN,NaN,0.00
4145237,2,2025-03-31 23:03:38,2025-03-31 23:22:34,NaN,3.59,NaN,None,234,143,0,23.49,0.00,0.5,0.00,0.00,1.0,28.24,NaN,NaN,0.75
4145238,1,2025-03-31 23:35:37,2025-04-01 00:02:59,NaN,4.80,NaN,None,80,7,0,27.34,0.00,0.5,0.00,0.00,1.0,28.84,NaN,NaN,0.00
4145239,2,2025-03-31 23:16:48,2025-03-31 23:26:47,NaN,1.84,NaN,None,230,234,0,15.04,0.00,0.5,0.00,0.00,1.0,19.79,NaN,NaN,0.75
4145240,2,2025-03-31 23:30:53,2025-04-01 00:02:45,NaN,10.27,NaN,None,234,42,0,41.11,0.00,0.5,0.00,0.00,1.0,45.86,NaN,NaN,0.75
4145241,2,2025-03-31 23:08:00,2025-03-31 23:16:00,NaN,0.64,NaN,None,79,79,0,5.32,0.00,0.5,0.00,0.00,1.0,10.07,NaN,NaN,0.75
4145242,2,2025-03-31 23:04:09,2025-03-31 23:21:29,NaN,3.33,NaN,None,68,79,0,21.81,0.00,0.5,0.00,0.00,1.0,26.56,NaN,NaN,0.75
4145243,2,2025-03-31 23:57:26,2025-04-01 00:02:02,NaN,0.80,NaN,None,230,230,0,6.90,0.00,0.5,0.00,0.00,1.0,11.65,NaN,NaN,0.75
4145244,2,2025-03-31 23:30:11,2025-03-31 23:46:29,NaN,3.29,NaN,None,79,48,0,21.13,0.00,0.5,0.00,0.00,1.0,25.88,NaN,NaN,0.75
4145245,1,2025-03-31 23:08:56,2025-03-31 23:16:24,NaN,1.10,NaN,None,48,143,0,10.76,0.00,0.5,0.00,0.00,1.0,15.51,NaN,NaN,0.75
4145246,1,2025-03-31 23:19:59,2025-03-31 23:40:25,NaN,4.00,NaN,None,142,224,0,32.67,0.00,0.5,0.00,0.00,1.0,37.42,NaN,NaN,0.75
4145247,2,2025-03-31 23:29:47,2025-03-31 23:43:34,NaN,5.33,NaN,None,244,238,0,-4.00,0.00,0.5,0.00,0.00,1.0,3.69,NaN,NaN,0.00
4145248,2,2025-03-31 23:30:13,2025-03-31 23:38:24,NaN,0.97,NaN,None,164,100,0,8.82,0.00,0.5,0.00,0.00,1.0,13.57,NaN,NaN,0.75
4145249,2,2025-03-31 23:59:02,2025-04-01 00:24:40,NaN,0.98,NaN,None,230,50,0,6.65,0.00,0.5,0.00,0.00,1.0,11.40,NaN,NaN,0.75
4145250,2,2025-03-31 23:47:32,2025-03-31 23:54:51,NaN,1.25,NaN,None,68,48,0,8.17,0.00,0.5,0.00,0.00,1.0,12.92,NaN,NaN,0.75
4145251,1,2025-03-31 23:23:59,2025-03-31 23:57:02,NaN,11.80,NaN,None,138,238,0,47.10,7.75,0.5,8.94,0.00,1.0,68.54,NaN,NaN,0.75
4145252,2,2025-03-31 23:10:10,2025-03-31 23:42:49,NaN,10.04,NaN,None,177,205,0,45.98,0.00,0.5,0.00,0.00,1.0,47.48,NaN,NaN,0.00
4145253,2,2025-03-31 23:14:47,2025-03-31 23:32:05,NaN,3.01,NaN,None,186,140,0,21.70,0.00,0.5,0.00,0.00,1.0,26.45,NaN,NaN,0.75
4145254,2,2025-03-31 23:18:16,2025-03-31 23:40:15,NaN,7.44,NaN,None,48,243,0,31.97,0.00,0.5,0.00,0.00,1.0,36.72,NaN,NaN,0.75
4145255,2,2025-03-31 23:30:16,2025-03-31 23:52:23,NaN,4.99,NaN,None,68,262,0,-4.75,0.00,0.5,0.00,0.00,1.0,6.14,NaN,NaN,0.75
4145256,2,2025-03-31 23:26:26,2025-03-31 23:48:30,NaN,9.88,NaN,None,144,42,0,42.06,0.00,0.5,0.00,0.00,1.0,46.81,NaN,NaN,0.75

In [51]:
green_data

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-03-01 00:07:34,2025-03-01 00:24:52,N,1.0,75,239,1.0,2.20,18.40,1.0,0.5,5.91,0.00,NaN,1.0,29.56,1.0,1.0,2.75,0.00
1,2,2025-03-01 00:01:24,2025-03-01 00:10:03,N,1.0,41,42,1.0,1.06,8.60,1.0,0.5,3.33,0.00,NaN,1.0,14.43,1.0,1.0,0.00,0.00
2,2,2025-03-01 00:45:03,2025-03-01 01:05:38,N,1.0,265,56,1.0,18.91,69.50,1.0,0.5,0.00,0.00,NaN,1.0,72.00,2.0,1.0,0.00,0.00
3,2,2025-03-01 00:10:10,2025-03-01 00:29:35,N,5.0,82,236,1.0,8.36,30.17,0.0,0.5,3.35,6.94,NaN,1.0,44.71,1.0,1.0,2.75,0.00
4,2,2025-03-01 00:16:14,2025-03-01 00:19:44,N,1.0,66,33,1.0,0.82,5.80,1.0,0.5,0.00,0.00,NaN,1.0,8.30,2.0,1.0,0.00,0.00
5,2,2025-03-01 00:02:43,2025-03-01 00:15:52,N,1.0,134,122,1.0,4.94,21.90,1.0,0.5,0.00,0.00,NaN,1.0,24.40,2.0,1.0,0.00,0.00
6,2,2025-03-01 00:03:47,2025-03-01 00:10:45,N,1.0,260,260,1.0,0.81,8.60,1.0,0.5,2.00,0.00,NaN,1.0,13.10,1.0,1.0,0.00,0.00
7,2,2025-03-01 00:16:56,2025-03-01 00:26:26,N,1.0,244,243,2.0,1.56,11.40,1.0,0.5,0.00,0.00,NaN,1.0,13.90,2.0,1.0,0.00,0.00
8,2,2025-03-01 00:49:43,2025-03-01 00:58:25,N,1.0,75,262,1.0,1.53,10.70,1.0,0.5,2.39,0.00,NaN,1.0,18.34,1.0,1.0,2.75,0.00
9,1,2025-03-01 00:52:31,2025-03-01 00:53:00,N,5.0,129,129,1.0,0.00,35.00,0.0,0.0,7.00,0.00,NaN,0.0,42.00,1.0,2.0,0.00,0.00
10,2,2025-03-01 00:06:48,2025-03-01 00:21:20,N,1.0,95,216,1.0,4.56,21.20,1.0,0.5,4.74,0.00,NaN,1.0,28.44,1.0,1.0,0.00,0.00
11,2,2025-02-28 23:58:08,2025-03-01 00:03:30,N,1.0,7,7,5.0,0.89,7.20,1.0,0.5,0.00,0.00,NaN,1.0,9.70,1.0,1.0,0.00,0.00
12,2,2025-03-01 00:06:50,2025-03-01 00:11:35,N,1.0,95,95,1.0,1.17,7.20,1.0,0.5,1.94,0.00,NaN,1.0,11.64,1.0,1.0,0.00,0.00
13,2,2025-03-01 00:20:38,2025-03-01 00:30:00,N,1.0,95,135,1.0,2.48,13.50,1.0,0.5,3.20,0.00,NaN,1.0,19.20,1.0,1.0,0.00,0.00
14,2,2025-03-01 00:21:44,2025-03-01 00:34:41,N,1.0,25,261,5.0,2.65,15.60,1.0,0.5,5.40,0.00,NaN,1.0,27.00,1.0,1.0,2.75,0.75
15,2,2025-03-01 00:05:20,2025-03-01 00:17:01,N,1.0,95,258,1.0,2.50,14.90,1.0,0.5,3.48,0.00,NaN,1.0,20.88,1.0,1.0,0.00,0.00
16,2,2025-03-01 00:28:01,2025-03-01 00:47:27,N,5.0,255,209,2.0,4.47,60.00,0.0,0.0,12.90,0.00,NaN,1.0,77.40,1.0,2.0,2.75,0.75
17,2,2025-02-28 23:44:45,2025-03-01 00:31:11,N,1.0,260,85,1.0,9.20,50.60,1.0,0.5,10.62,0.00,NaN,1.0,63.72,1.0,1.0,0.00,0.00
18,2,2025-03-01 00:26:05,2025-03-01 00:56:58,N,1.0,36,107,1.0,5.81,32.40,1.0,0.5,7.68,0.00,NaN,1.0,46.08,1.0,1.0,2.75,0.75
19,2,2025-03-01 00:29:36,2025-03-01 00:43:21,N,1.0,97,80,1.0,2.31,14.20,1.0,0.5,3.34,0.00,NaN,1.0,20.04,1.0,1.0,0.00,0.00
20,2,2025-03-01 00:59:11,2025-03-01 00:59:32,N,1.0,255,255,1.0,0.04,3.00,1.0,0.5,0.01,0.00,NaN,1.0,5.51,1.0,1.0,0.00,0.00
21,2,2025-03-01 00:28:52,2025-03-01 00:34:43,N,1.0,181,189,1.0,1.16,7.90,1.0,0.5,2.08,0.00,NaN,1.0,12.48,1.0,1.0,0.00,0.00
22,2,2025-03-01 01:00:07,2025-03-01 01:17:26,N,1.0,129,41,2.0,6.58,29.60,1.0,0.5,7.81,6.94,NaN,1.0,46.85,1.0,1.0,0.00,0.00
23,2,2025-03-01 00:01:41,2025-03-01 00:12:31,N,1.0,82,157,1.0,1.73,12.10,1.0,0.5,5.00,0.00,NaN,1.0,19.60,1.0,1.0,0.00,0.00
24,2,2025-03-01 00:25:52,2025-03-01 00:54:34,N,1.0,82,135,1.0,6.19,31.00,1.0,0.5,0.00,0.00,NaN,1.0,33.50,2.0,1.0,0.00,0.00
25,2,2025-03-01 00:21:02,2025-03-01 00:35:11,N,1.0,65,17,1.0,2.30,14.20,1.0,0.5,6.00,0.00,NaN,1.0,22.70,1.0,1.0,0.00,0.00
26,2,2025-03-02 00:06:46,2025-03-02 00:14:35,N,1.0,74,168,1.0,1.36,10.00,1.0,0.5,3.75,0.00,NaN,1.0,16.25,1.0,1.0,0.00,0.00
27,2,2025-03-01 00:49:47,2025-03-01 00:51:00,N,5.0,215,215,1.0,0.57,15.00,0.0,0.0,4.00,0.00,NaN,1.0,20.00,1.0,2.0,0.00,0.00
28,2,2025-03-01 00:29:01,2025-03-01 00:38:28,N,1.0,168,167,1.0,1.52,10.70,1.0,0.5,0.00,0.00,NaN,1.0,13.20,2.0,1.0,0.00,0.00
29,2,2025-03-01 00:43:23,2025-03-01 00:48:31,N,1.0,255,256,1.0,1.01,7.20,1.0,0.5,0.97,0.00,NaN,1.0,10.67,1.0,1.0,0.00,0.00
30,2,2025-03-01 01:05:08,2025-03-01 01:09:40,N,1.0,74,74,1.0,1.20,7.20,1.0,0.5,1.94,0.00,NaN,1.0,11.64,1.0,1.0,0.00,0.00
31,2,2025-03-01 01:18:49,2025-03-01 01:22:06,N,1.0,74,74,1.0,0.53,5.80,1.0,0.5,1.00,0.00,NaN,1.0,9.30,1.0,1.0,0.00,0.00
32,2,2025-03-01 01:38:55,2025-03-01 01:51:56,N,1.0,74,24,1.0,2.69,15.60,1.0,0.5,3.00,0.00,NaN,1.0,21.10,1.0,1.0,0.00,0.00
33,2,2025-03-01 01:21:16,2025-03-01 01:37:58,N,1.0,202,260,1.0,3.66,19.80,1.0,0.5,0.00,0.00,NaN,1.0,22.30,2.0,1.0,0.00,0.00
34,1,2025-03-01 01:12:48,2025-03-01 01:30:30,N,1.0,255,226,1.0,3.30,19.80,1.0,1.5,3.00,0.00,NaN,1.0,25.30,1.0,1.0,0.00,0.00
35,1,2025-03-01 01:47:20,2025-03-01 02:03:30,N,1.0,112,229,1.0,4.60,21.90,4.5,1.5,2.00,0.00,NaN,1.0,29.90,1.0,1.0,2.75,0.75
36,2,2025-03-01 01:17:55,2025-03-01 01:44:25,N,1.0,157,82,1.0,3.56,25.40,1.0,0.5,0.00,0.00,NaN,1.0,27.90,2.0,1.0,0.00,0.00
37,2,2025-03-01 01:10:48,2025-03-01 01:26:59,N,1.0,66,189,1.0,3.36,19.10,1.0,0.5,1.00,0.00,NaN,1.0,22.60,1.0,1.0,0.00,0.00
38,2,2025-03-01 01:40:26,2025-03-01 01:57:55,N,1.0,129,7,1.0,4.01,22.60,1.0,0.5,0.00,0.00,NaN,1.0,25.10,2.0,1.0,0.00,0.00
39,2,2025-03-01 01:10:37,2025-03-01 01:30:14,N,1.0,255,224,2.0,3.37,21.20,1.0,0.5,3.00,0.00,NaN,1.0,30.20,1.0,1.0,2.75,0.75
40,2,2025-03-01 01:07:01,2025-03-01 01:18:12,N,1.0,244,247,2.0,2.28,14.20,1.0,0.5,0.00,0.00,NaN,1.0,16.70,2.0,1.0,0.00,0.00
41,2,2025-03-01 01:18:58,2025-03-01 01:30:50,N,1.0,247,242,1.0,4.22,19.10,1.0,0.5,0.00,0.00,NaN,1.0,21.60,2.0,1.0,0.00,0.00
42,2,2025-03-01 01:29:26,2025-03-01 01:35:58,N,1.0,95,135,1.0,1.30,9.30,1.0,0.5,2.36,0.00,NaN,1.0,14.16,1.0,1.0,0.00,0.00
43,2,2025-03-01 00:06:58,2025-03-01 00:18:12,N,1.0,82,129,1.0,1.42,12.10,1.0,0.5,2.92,0.00,NaN,1.0,17.52,1.0,1.0,0.00,0.00
44,2,2025-03-01 01:15:53,2025-03-01 01:34:13,N,1.0,7,244,5.0,6.32,28.20,1.0,0.5,7.53,6.94,NaN,1.0,45.17,1.0,1.0,0.00,0.00
45,2,2025-03-01 01:30:15,2025-03-01 01:48:13,N,1.0,80,97,1.0,4.09,21.20,1.0,0.5,4.74,0.00,NaN,1.0,28.44,1.0,1.0,0.00,0.00
46,2,2025-03-01 01:48:36,2025-03-01 02:11:42,N,1.0,80,97,1.0,6.24,30.30,1.0,0.5,1.64,0.00,NaN,1.0,34.44,1.0,1.0,0.00,0.00
47,2,2025-03-01 01:01:46,2025-03-01 01:20:58,N,1.0,255,36,1.0,1.68,16.30,1.0,0.5,3.76,0.00,NaN,1.0,22.56,1.0,1.0,0.00,0.00
48,2,2025-03-01 01:33:11,2025-03-01 01:48:30,N,1.0,129,173,1.0,2.20,15.60,1.0,0.5,0.00,0.00,NaN,0.3,17.40,2.0,1.0,0.00,0.00
49,2,2025-03-01 01:49:01,2025-03-01 01:55:39,N,1.0,7,179,2.0,0.88,8.60,1.0,0.5,2.22,0.00,NaN,1.0,13.32,1.0,1.0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51489,2,2025-03-31 13:44:37,2025-03-31 14:08:02,None,NaN,131,216,NaN,4.55,26.76,0.0,0.5,0.00,0.00,NaN,1.0,28.26,NaN,NaN,NaN,0.00
51490,6,2025-03-31 13:03:28,2025-03-31 15:03:35,None,NaN,39,191,NaN,13.90,5.80,0.0,0.5,0.00,0.00,NaN,0.3,33.50,NaN,NaN,NaN,0.00
51491,2,2025-03-31 13:37:00,2025-03-31 14:29:00,None,NaN,130,197,NaN,6.50,39.40,0.0,0.5,0.00,0.00,NaN,1.0,40.90,NaN,NaN,NaN,0.00
51492,2,2025-03-31 13:34:00,2025-03-31 13:59:00,None,NaN,74,146,NaN,5.05,28.77,0.0,0.5,5.58,6.94,NaN,1.0,42.79,NaN,NaN,NaN,0.00
51493,2,2025-03-31 13:25:00,2025-03-31 13:47:00,None,NaN,75,229,NaN,3.44,21.82,0.0,0.5,5.36,0.00,NaN,1.0,32.18,NaN,NaN,NaN,0.75
51494,6,2025-03-31 14:03:32,2025-03-31 14:03:54,None,NaN,72,71,NaN,1.05,5.80,0.0,0.5,0.00,0.00,NaN,0.3,16.00,NaN,NaN,NaN,0.00
51495,2,2025-03-31 14:32:00,2025-03-31 14:38:00,None,NaN,7,193,NaN,0.88,13.02,0.0,0.5,2.90,0.00,NaN,1.0,17.42,NaN,NaN,NaN,0.00
51496,2,2025-03-31 14:23:20,2025-03-31 14:45:52,None,NaN,69,182,NaN,4.44,21.96,0.0,0.5,0.00,0.00,NaN,1.0,23.46,NaN,NaN,NaN,0.00
51497,6,2025-03-31 14:03:16,2025-03-31 14:03:14,None,NaN,191,76,NaN,11.57,2.90,0.0,0.5,0.00,0.00,NaN,0.3,0.00,NaN,NaN,NaN,0.00
51498,2,2025-03-31 14:15:00,2025-03-31 14:31:00,None,NaN,60,69,NaN,2.28,17.74,0.0,0.5,0.00,0.00,NaN,1.0,19.24,NaN,NaN,NaN,0.00
51499,1,2025-03-31 15:17:33,2025-03-31 15:38:40,None,NaN,43,162,NaN,3.00,21.20,0.0,0.5,3.93,0.00,NaN,1.0,30.13,NaN,NaN,NaN,0.75
51500,2,2025-03-31 15:43:00,2025-03-31 16:06:00,None,NaN,226,223,NaN,2.99,13.38,0.0,0.5,0.00,0.00,NaN,1.0,14.88,NaN,NaN,NaN,0.00
51501,2,2025-03-31 15:12:00,2025-03-31 15:21:00,None,NaN,197,216,NaN,1.69,12.00,0.0,0.5,0.00,0.00,NaN,1.0,13.50,NaN,NaN,NaN,0.00
51502,2,2025-03-31 15:43:00,2025-03-31 16:10:00,None,NaN,75,246,NaN,4.27,29.38,0.0,0.5,5.84,0.00,NaN,1.0,40.22,NaN,NaN,NaN,0.75
51503,2,2025-03-31 16:41:00,2025-03-31 16:46:00,None,NaN,193,193,NaN,0.91,13.02,0.0,0.5,2.90,0.00,NaN,1.0,17.42,NaN,NaN,NaN,0.00
51504,1,2025-03-31 16:45:39,2025-03-31 17:03:26,None,NaN,244,142,NaN,5.90,26.10,2.5,0.5,3.29,0.00,NaN,1.0,36.14,NaN,NaN,NaN,0.00
51505,6,2025-03-31 16:03:54,2025-03-31 17:03:10,None,NaN,9,168,NaN,12.77,2.90,0.0,0.5,0.00,6.94,NaN,0.3,0.00,NaN,NaN,NaN,0.00
51506,6,2025-03-31 16:03:22,2025-03-31 17:03:25,None,NaN,16,82,NaN,6.44,2.90,0.0,0.5,0.00,0.00,NaN,0.3,18.78,NaN,NaN,NaN,0.00
51507,2,2025-03-31 16:32:00,2025-03-31 16:42:00,None,NaN,193,145,NaN,1.91,14.83,0.0,0.5,3.27,0.00,NaN,1.0,19.60,NaN,NaN,NaN,0.00
51508,2,2025-03-31 16:56:00,2025-03-31 17:00:00,None,NaN,193,193,NaN,1.00,11.42,0.0,0.5,2.00,0.00,NaN,1.0,14.92,NaN,NaN,NaN,0.00
51509,2,2025-03-31 16:19:00,2025-03-31 16:20:00,None,NaN,244,244,NaN,0.02,21.61,0.0,0.5,0.00,0.00,NaN,1.0,23.11,NaN,NaN,NaN,0.00
51510,2,2025-03-31 17:55:00,2025-03-31 18:00:00,None,NaN,193,145,NaN,1.05,13.16,0.0,0.5,1.00,0.00,NaN,1.0,15.66,NaN,NaN,NaN,0.00
51511,2,2025-03-31 17:47:00,2025-03-31 18:07:00,None,NaN,33,114,NaN,2.96,18.88,0.0,0.5,4.78,0.00,NaN,1.0,28.66,NaN,NaN,NaN,0.75
51512,2,2025-03-31 17:09:00,2025-03-31 17:18:00,None,NaN,25,49,NaN,1.23,13.02,0.0,0.5,3.63,0.00,NaN,1.0,18.15,NaN,NaN,NaN,0.00
51513,2,2025-03-31 17:10:00,2025-03-31 17:13:00,None,NaN,152,166,NaN,0.81,13.58,0.0,0.5,3.02,0.00,NaN,1.0,18.10,NaN,NaN,NaN,0.00
51514,2,2025-03-31 17:27:00,2025-03-31 18:10:00,None,NaN,179,243,NaN,9.02,43.35,0.0,0.5,10.36,6.94,NaN,1.0,62.15,NaN,NaN,NaN,0.00
51515,2,2025-03-31 17:38:00,2025-03-31 17:43:00,None,NaN,193,7,NaN,0.84,11.42,0.0,0.5,5.17,0.00,NaN,1.0,18.09,NaN,NaN,NaN,0.00
51516,2,2025-03-31 17:37:00,2025-03-31 18:13:00,None,NaN,41,144,NaN,8.42,40.75,0.0,0.5,4.58,0.00,NaN,1.0,50.33,NaN,NaN,NaN,0.75
51517,2,2025-03-31 18:49:00,2025-03-31 18:57:00,None,NaN,74,24,NaN,1.57,15.87,0.0,0.5,1.74,0.00,NaN,1.0,19.11,NaN,NaN,NaN,0.00
51518,2,2025-03-31 18:33:00,2025-03-31 18:58:00,None,NaN,166,161,NaN,5.11,29.50,0.0,0.5,5.18,0.00,NaN,1.0,39.68,NaN,NaN,NaN,0.75
51519,2,2025-03-31 18:50:00,2025-03-31 18:57:00,None,NaN,152,42,NaN,1.36,13.58,0.0,0.5,1.00,0.00,NaN,1.0,16.08,NaN,NaN,NaN,0.00
51520,2,2025-03-31 18:06:00,2025-03-31 18:26:00,None,NaN,193,129,NaN,4.07,27.85,0.0,0.5,1.00,0.00,NaN,1.0,30.35,NaN,NaN,NaN,0.00
51521,6,2025-03-31 18:03:21,2025-03-31 19:03:43,None,NaN,75,242,NaN,9.50,2.90,0.0,0.5,0.00,0.00,NaN,0.3,30.30,NaN,NaN,NaN,0.00
51522,6,2025-03-31 18:03:46,2025-03-31 18:03:47,None,NaN,75,147,NaN,3.76,2.90,0.0,0.5,0.00,0.00,NaN,0.3,16.00,NaN,NaN,NaN,0.00
51523,2,2025-03-31 18:01:00,2025-03-31 18:07:00,None,NaN,193,146,NaN,1.18,12.81,0.0,0.5,2.86,0.00,NaN,1.0,17.17,NaN,NaN,NaN,0.00
51524,2,2025-03-31 18:18:34,2025-03-31 18:36:57,None,NaN,75,142,NaN,0.00,21.03,0.0,0.5,0.00,0.00,NaN,1.0,26.03,NaN,NaN,NaN,0.75
51525,1,2025-03-31 19:29:22,2025-03-31 19:52:34,None,NaN,244,162,NaN,9.10,36.60,2.5,0.5,8.82,0.00,NaN,1.0,52.92,NaN,NaN,NaN,0.75
51526,6,2025-03-31 19:03:43,2025-03-31 19:03:58,None,NaN,78,51,NaN,5.05,2.90,0.0,0.5,0.00,0.00,NaN,0.3,19.82,NaN,NaN,NaN,0.00
51527,2,2025-03-31 19:43:00,2025-03-31 19:54:00,None,NaN,41,42,NaN,1.54,13.58,0.0,0.5,0.00,0.00,NaN,1.0,15.08,NaN,NaN,NaN,0.00
51528,2,2025-03-31 21:47:00,2025-03-31 21:59:00,None,NaN,152,41,NaN,1.51,13.58,0.0,0.5,3.02,0.00,NaN,1.0,18.10,NaN,NaN,NaN,0.00
51529,2,2025-03-31 21:55:00,2025-03-31 22:26:00,None,NaN,97,193,NaN,8.28,32.32,0.0,0.5,3.38,0.00,NaN,1.0,37.20,NaN,NaN,NaN,0.00
51530,2,2025-03-31 21:33:00,2025-03-31 21:48:00,None,NaN,166,143,NaN,3.30,22.93,0.0,0.5,3.26,0.00,NaN,1.0,30.44,NaN,NaN,NaN,0.00
51531,2,2025-03-31 21:39:00,2025-03-31 21:50:00,None,NaN,66,87,NaN,2.25,13.50,0.0,0.5,0.00,0.00,NaN,1.0,18.50,NaN,NaN,NaN,0.75
51532,2,2025-03-31 21:40:00,2025-03-31 21:47:00,None,NaN,166,24,NaN,1.09,13.58,0.0,0.5,0.00,0.00,NaN,1.0,15.08,NaN,NaN,NaN,0.00
51533,2,2025-03-31 22:00:00,2025-03-31 22:07:00,None,NaN,166,239,NaN,1.92,14.54,0.0,0.5,3.76,0.00,NaN,1.0,22.55,NaN,NaN,NaN,0.00
51534,2,2025-03-31 22:17:00,2025-03-31 22:24:00,None,NaN,25,106,NaN,1.57,13.02,0.0,0.5,2.61,0.00,NaN,1.0,17.13,NaN,NaN,NaN,0.00
51535,2,2025-03-31 22:41:00,2025-03-31 22:51:00,None,NaN,74,262,NaN,2.31,15.39,0.0,0.5,3.93,0.00,NaN,1.0,23.57,NaN,NaN,NaN,0.00
51536,2,2025-03-31 22:16:00,2025-03-31 22:32:00,None,NaN,65,79,NaN,3.57,18.53,0.0,0.5,4.71,0.00,NaN,1.0,28.24,NaN,NaN,NaN,0.75
51537,2,2025-03-31 22:06:00,2025-03-31 22:33:00,None,NaN,75,265,NaN,13.51,48.84,0.0,0.5,7.55,0.00,NaN,1.0,57.89,NaN,NaN,NaN,0.00
51538,2,2025-03-31 23:37:00,2025-03-31 23:50:00,None,NaN,244,74,NaN,4.64,23.19,0.0,0.5,2.00,0.00,NaN,1.0,26.69,NaN,NaN,NaN,0.00

In [ ]:
yellow_data.columns, len(yellow_data.columns), yellow_data.isna().sum()

(Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
        'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
        'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
        'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
        'total_amount', 'congestion_surcharge', 'Airport_fee',
        'cbd_congestion_fee'],
       dtype='object'),
 20,
 VendorID                      0
 tpep_pickup_datetime          0
 tpep_dropoff_datetime         0
 passenger_count          916663
 trip_distance                 0
 RatecodeID               916663
 store_and_fwd_flag       916663
 PULocationID                  0
 DOLocationID                  0
 payment_type                  0
 fare_amount                   0
 extra                         0
 mta_tax                       0
 tip_amount                    0
 tolls_amount                  0
 improvement_surcharge         0
 total_amount                  0
 congestion_surcharge     916663
 Airport_fee              916663
 cbd_congestion_fee            0
 dtype: int64)

In [53]:
green_data.columns, len(green_data.columns), green_data.isna().sum()

(Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
        'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
        'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
        'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
        'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge',
        'cbd_congestion_fee'],
       dtype='object'),
 21,
 VendorID                     0
 lpep_pickup_datetime         0
 lpep_dropoff_datetime        0
 store_and_fwd_flag        3549
 RatecodeID                3549
 PULocationID                 0
 DOLocationID                 0
 passenger_count           3549
 trip_distance                0
 fare_amount                  0
 extra                        0
 mta_tax                      0
 tip_amount                   0
 tolls_amount                 0
 ehail_fee                51539
 improvement_surcharge        0
 total_amount                 0
 payment_type              3549
 trip_type                 3556
 congestion_surcharge      3549
 cbd_congestion_fee           0
 dtype: int64)

In [63]:
# checking if missing data appear in same rows

yellow_data_not_na = yellow_data[yellow_data["passenger_count"].notna()]
green_data_not_na = green_data[green_data["trip_type"].notna()]
yellow_data_not_na.isna().sum(), green_data_not_na.isna().sum()

(VendorID                 0
 tpep_pickup_datetime     0
 tpep_dropoff_datetime    0
 passenger_count          0
 trip_distance            0
 RatecodeID               0
 store_and_fwd_flag       0
 PULocationID             0
 DOLocationID             0
 payment_type             0
 fare_amount              0
 extra                    0
 mta_tax                  0
 tip_amount               0
 tolls_amount             0
 improvement_surcharge    0
 total_amount             0
 congestion_surcharge     0
 Airport_fee              0
 cbd_congestion_fee       0
 dtype: int64,
 VendorID                     0
 lpep_pickup_datetime         0
 lpep_dropoff_datetime        0
 store_and_fwd_flag           0
 RatecodeID                   0
 PULocationID                 0
 DOLocationID                 0
 passenger_count              0
 trip_distance                0
 fare_amount                  0
 extra                        0
 mta_tax                      0
 tip_amount                   0
 tolls_amount                 0
 ehail_fee                47983
 improvement_surcharge        0
 total_amount                 0
 payment_type                 0
 trip_type                    0
 congestion_surcharge         0
 cbd_congestion_fee           0
 dtype: int64)

In [68]:
# checking if ehail_fee in the green taxi dataset is NaN in every row

green_data_no_ehail = green_data[green_data["ehail_fee"].notna()]
len(green_data_no_ehail)

0

In [ ]:
# calculating the percentage of records containing missing values

yellow_data["passenger_count"].isna().sum() / len(yellow_data["passenger_count"]), green_data["trip_type"].isna().sum() / len(green_data["trip_type"])

(np.float64(0.22113538436820684), np.float64(0.06899629406856943))

In [ ]:
# the initial inspection suggests that the missing values are clustered at the end of the month and are not spread across equally